<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marko.justgo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyTrip" />
        <activity android:name=".BugReport" />
        <activity android:name=".MainScreen" />
        <activity android:name=".FogotPassword" />
        <activity android:name=".Utilities" />
        <activity android:name=".Login" />
        <activity android:name=".Registration" />
        <activity android:name=".Profile" />
        <activity android:name=".StartingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddNewTrip" />
        <activity android:name=".SeePreviousTrips" />
        <activity android:name=".OpenSpecificTrip" />
    </application>

</manifest>